In [1]:
import numpy as np
import pandas as pd
from sklearn.impute import KNNImputer

In [2]:
df=pd.read_csv("container-ports-2000-2017.csv")

In [3]:
df

,U.S. Custom Ports,Coast,2000,2001,2002,2003,2004,2005,2006,2007,2008,2009,2010,2011,2012,2013,2014,2015,2016,2017
0,"Aberdeen, WA",P,0,0,0,0,0,8,0,0,0,29,0,16,414,645,855,43,505,383
1,"Anacortes, WA",P,0,0,0,0,0,0,0,0,0,0,0,0,0,11,0,0,0,0
2,"Anchorage, AK",AK,0,0,0,"3,135","28,495","4,949","1,185",824,663,"1,208",540,"2,302","5,471","13,274","6,792","11,646","15,823","18,779"
3,"Baltimore, MD",A,"1,899,689","1,942,158","2,189,129","2,077,996","2,641,888","2,640,988","2,824,549","2,756,330","2,855,096","2,380,630","2,929,029","3,108,746","3,243,542","3,438,606","3,691,480","3,977,777","4,264,068","4,871,362"
4,"Baton Rouge, LA",G,8,0,959,21,3,149,"1,562",0,0,"1,164","6,456","2,587",12,"1,987",72,0,27,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
58,"Tampa, FL",G,"16,628","7,456","1,266","19,025","51,578","54,146","102,160","165,708","159,427","158,427","173,733","178,133","163,086","153,983","187,207","221,477","288,062","437,302"
59,"Vancouver, WA",P,"3,854","6,584",744,744,"32,310","2,022","1,400","1,918",28,810,"6,295","2,717","1,637","6,612","9,797","13,939","8,697","7,416"
60,"West Palm Beach, FL",A,"175,863","195,119","279,381","270,677","295,326","263,359","214,975","223,600","228,120","187,388","214,805","196,670","216,288","297,694","364,623","357,895","348,418","367,329"
61,"Wilmington, DE",A,"904,575","964,634","1,030,240","1,518,071","1,114,766","1,127,645","1,222,941","1,309,694","1,274,591","1,185,657","1,204,818","1,282,243","1,339,599","1,496,540","1,599,242","1,621,830","1,729,359","1,738,055"
62,"Wilmington, NC",A,"275,435","231,535","272,995","248,014","280,585","372,176","421,365","482,164","516,405","622,821","764,848","810,206","739,244","740,128","824,262","896,591","755,437","583,105"

In [4]:
df1=pd.DataFrame(df[df.columns[2:20]])
# removing first two columns

In [5]:
df1

,2000,2001,2002,2003,2004,2005,2006,2007,2008,2009,2010,2011,2012,2013,2014,2015,2016,2017
0,0,0,0,0,0,8,0,0,0,29,0,16,414,645,855,43,505,383
1,0,0,0,0,0,0,0,0,0,0,0,0,0,11,0,0,0,0
2,0,0,0,"3,135","28,495","4,949","1,185",824,663,"1,208",540,"2,302","5,471","13,274","6,792","11,646","15,823","18,779"
3,"1,899,689","1,942,158","2,189,129","2,077,996","2,641,888","2,640,988","2,824,549","2,756,330","2,855,096","2,380,630","2,929,029","3,108,746","3,243,542","3,438,606","3,691,480","3,977,777","4,264,068","4,871,362"
4,8,0,959,21,3,149,"1,562",0,0,"1,164","6,456","2,587",12,"1,987",72,0,27,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
58,"16,628","7,456","1,266","19,025","51,578","54,146","102,160","165,708","159,427","158,427","173,733","178,133","163,086","153,983","187,207","221,477","288,062","437,302"
59,"3,854","6,584",744,744,"32,310","2,022","1,400","1,918",28,810,"6,295","2,717","1,637","6,612","9,797","13,939","8,697","7,416"
60,"175,863","195,119","279,381","270,677","295,326","263,359","214,975","223,600","228,120","187,388","214,805","196,670","216,288","297,694","364,623","357,895","348,418","367,329"
61,"904,575","964,634","1,030,240","1,518,071","1,114,766","1,127,645","1,222,941","1,309,694","1,274,591","1,185,657","1,204,818","1,282,243","1,339,599","1,496,540","1,599,242","1,621,830","1,729,359","1,738,055"
62,"275,435","231,535","272,995","248,014","280,585","372,176","421,365","482,164","516,405","622,821","764,848","810,206","739,244","740,128","824,262","896,591","755,437","583,105"

In [6]:
df1.replace(',','', regex=True, inplace=True)
df1
# replacing commas from numbers in dataframe

,2000,2001,2002,2003,2004,2005,2006,2007,2008,2009,2010,2011,2012,2013,2014,2015,2016,2017
0,0,0,0,0,0,8,0,0,0,29,0,16,414,645,855,43,505,383
1,0,0,0,0,0,0,0,0,0,0,0,0,0,11,0,0,0,0
2,0,0,0,3135,28495,4949,1185,824,663,1208,540,2302,5471,13274,6792,11646,15823,18779
3,1899689,1942158,2189129,2077996,2641888,2640988,2824549,2756330,2855096,2380630,2929029,3108746,3243542,3438606,3691480,3977777,4264068,4871362
4,8,0,959,21,3,149,1562,0,0,1164,6456,2587,12,1987,72,0,27,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
58,16628,7456,1266,19025,51578,54146,102160,165708,159427,158427,173733,178133,163086,153983,187207,221477,288062,437302
59,3854,6584,744,744,32310,2022,1400,1918,28,810,6295,2717,1637,6612,9797,13939,8697,7416
60,175863,195119,279381,270677,295326,263359,214975,223600,228120,187388,214805,196670,216288,297694,364623,357895,348418,367329
61,904575,964634,1030240,1518071,1114766,1127645,1222941,1309694,1274591,1185657,1204818,1282243,1339599,1496540,1599242,1621830,1729359,1738055
62,275435,231535,272995,248014,280585,372176,421365,482164,516405,622821,764848,810206,739244,740128,824262,896591,755437,583105

In [7]:
df1.dtypes

2000    object
2001    object
2002    object
2003    object
2004    object
2005    object
2006    object
2007    object
2008    object
2009    object
2010    object
2011    object
2012    object
2013    object
2014    object
2015    object
2016    object
2017    object
dtype: object

In [8]:
df1=df1.astype(float)

In [9]:
df1.dtypes

2000    float64
2001    float64
2002    float64
2003    float64
2004    float64
2005    float64
2006    float64
2007    float64
2008    float64
2009    float64
2010    float64
2011    float64
2012    float64
2013    float64
2014    float64
2015    float64
2016    float64
2017    float64
dtype: object

In [10]:
df1.fillna(df1.mean())

,2000,2001,2002,2003,2004,2005,2006,2007,2008,2009,2010,2011,2012,2013,2014,2015,2016,2017
0,0.0,0.0,0.0,0.0,0.0,8.0,0.0,0.0,0.0,29.0,0.0,16.0,414.0,645.0,855.0,43.0,505.0,383.0
1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,11.0,0.0,0.0,0.0,0.0
2,0.0,0.0,0.0,3135.0,28495.0,4949.0,1185.0,824.0,663.0,1208.0,540.0,2302.0,5471.0,13274.0,6792.0,11646.0,15823.0,18779.0
3,1899689.0,1942158.0,2189129.0,2077996.0,2641888.0,2640988.0,2824549.0,2756330.0,2855096.0,2380630.0,2929029.0,3108746.0,3243542.0,3438606.0,3691480.0,3977777.0,4264068.0,4871362.0
4,8.0,0.0,959.0,21.0,3.0,149.0,1562.0,0.0,0.0,1164.0,6456.0,2587.0,12.0,1987.0,72.0,0.0,27.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
58,16628.0,7456.0,1266.0,19025.0,51578.0,54146.0,102160.0,165708.0,159427.0,158427.0,173733.0,178133.0,163086.0,153983.0,187207.0,221477.0,288062.0,437302.0
59,3854.0,6584.0,744.0,744.0,32310.0,2022.0,1400.0,1918.0,28.0,810.0,6295.0,2717.0,1637.0,6612.0,9797.0,13939.0,8697.0,7416.0
60,175863.0,195119.0,279381.0,270677.0,295326.0,263359.0,214975.0,223600.0,228120.0,187388.0,214805.0,196670.0,216288.0,297694.0,364623.0,357895.0,348418.0,367329.0
61,904575.0,964634.0,1030240.0,1518071.0,1114766.0,1127645.0,1222941.0,1309694.0,1274591.0,1185657.0,1204818.0,1282243.0,1339599.0,1496540.0,1599242.0,1621830.0,1729359.0,1738055.0
62,275435.0,231535.0,272995.0,248014.0,280585.0,372176.0,421365.0,482164.0,516405.0,622821.0,764848.0,810206.0,739244.0,740128.0,824262.0,896591.0,755437.0,583105.0

In [11]:
df1.fillna(df1.mean().round(2))

,2000,2001,2002,2003,2004,2005,2006,2007,2008,2009,2010,2011,2012,2013,2014,2015,2016,2017
0,0.0,0.0,0.0,0.0,0.0,8.0,0.0,0.0,0.0,29.0,0.0,16.0,414.0,645.0,855.0,43.0,505.0,383.0
1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,11.0,0.0,0.0,0.0,0.0
2,0.0,0.0,0.0,3135.0,28495.0,4949.0,1185.0,824.0,663.0,1208.0,540.0,2302.0,5471.0,13274.0,6792.0,11646.0,15823.0,18779.0
3,1899689.0,1942158.0,2189129.0,2077996.0,2641888.0,2640988.0,2824549.0,2756330.0,2855096.0,2380630.0,2929029.0,3108746.0,3243542.0,3438606.0,3691480.0,3977777.0,4264068.0,4871362.0
4,8.0,0.0,959.0,21.0,3.0,149.0,1562.0,0.0,0.0,1164.0,6456.0,2587.0,12.0,1987.0,72.0,0.0,27.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
58,16628.0,7456.0,1266.0,19025.0,51578.0,54146.0,102160.0,165708.0,159427.0,158427.0,173733.0,178133.0,163086.0,153983.0,187207.0,221477.0,288062.0,437302.0
59,3854.0,6584.0,744.0,744.0,32310.0,2022.0,1400.0,1918.0,28.0,810.0,6295.0,2717.0,1637.0,6612.0,9797.0,13939.0,8697.0,7416.0
60,175863.0,195119.0,279381.0,270677.0,295326.0,263359.0,214975.0,223600.0,228120.0,187388.0,214805.0,196670.0,216288.0,297694.0,364623.0,357895.0,348418.0,367329.0
61,904575.0,964634.0,1030240.0,1518071.0,1114766.0,1127645.0,1222941.0,1309694.0,1274591.0,1185657.0,1204818.0,1282243.0,1339599.0,1496540.0,1599242.0,1621830.0,1729359.0,1738055.0
62,275435.0,231535.0,272995.0,248014.0,280585.0,372176.0,421365.0,482164.0,516405.0,622821.0,764848.0,810206.0,739244.0,740128.0,824262.0,896591.0,755437.0,583105.0

In [64]:
df2=pd.read_csv("kamyr-digester.csv")
df2

,Observation,Y-Kappa,ChipRate,BF-CMratio,BlowFlow,ChipLevel4,T-upperExt-2,T-lowerExt-2,UCZAA,WhiteFlow-4,...,SteamFlow-4,Lower-HeatT-3,Upper-HeatT-3,ChipMass-4,WeakLiquorF,BlackFlow-2,WeakWashF,SteamHeatF-3,T-Top-Chips-4,SulphidityL-4
0,31-00:00,23.10,16.520,121.717,1177.607,169.805,358.282,329.545,1.443,599.253,...,67.122,329.432,303.099,175.964,1127.197,1319.039,257.325,54.612,252.077,NaN
1,31-01:00,27.60,16.810,79.022,1328.360,341.327,351.050,329.067,1.549,537.201,...,60.012,330.823,304.879,163.202,665.975,1297.317,241.182,46.603,251.406,29.11
2,31-02:00,23.19,16.709,79.562,1329.407,239.161,350.022,329.260,1.600,549.611,...,61.304,329.140,303.383,164.013,677.534,1327.072,237.272,51.795,251.335,NaN
3,31-03:00,23.60,16.478,81.011,1334.877,213.527,350.938,331.142,1.604,623.362,...,68.496,328.875,302.254,181.487,767.853,1324.461,239.478,54.846,250.312,29.02
4,31-04:00,22.90,15.618,93.244,1334.168,243.131,351.640,332.709,NaN,638.672,...,70.022,328.352,300.954,183.929,888.448,1343.424,215.372,54.186,249.916,29.01
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
296,12-08:00,20.40,14.233,89.790,1278.006,379.458,354.290,315.558,1.515,491.374,...,60.424,331.980,308.078,140.301,975.016,1344.835,388.676,47.803,252.311,NaN
297,12-09:00,20.90,15.167,84.640,1283.706,339.440,354.803,311.041,1.635,532.419,...,65.561,332.924,307.626,145.299,832.906,1344.708,388.911,49.524,251.833,30.29
298,12-10:00,24.98,NaN,85.034,1278.345,368.564,357.723,321.387,NaN,520.365,...,65.729,332.523,307.169,151.544,905.639,1344.469,418.979,48.135,251.614,30.47
299,12-11:00,21.00,NaN,88.013,1307.722,278.842,357.438,323.757,NaN,553.070,...,65.795,331.263,306.400,157.954,908.691,1344.588,462.712,54.373,251.197,NaN
300,12-12:00,21.40,NaN,85.490,1255.986,273.484,361.365,322.689,NaN,590.199,...,71.456,333.032,308.732,174.069,986.206,1348.747,457.313,53.194,251.324,30.46

In [65]:
df2.isnull()

,Observation,Y-Kappa,ChipRate,BF-CMratio,BlowFlow,ChipLevel4,T-upperExt-2,T-lowerExt-2,UCZAA,WhiteFlow-4,...,SteamFlow-4,Lower-HeatT-3,Upper-HeatT-3,ChipMass-4,WeakLiquorF,BlackFlow-2,WeakWashF,SteamHeatF-3,T-Top-Chips-4,SulphidityL-4
0,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,True
1,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
2,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,True
3,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
4,False,False,False,False,False,False,False,False,True,False,...,False,False,False,False,False,False,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
296,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,True
297,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
298,False,False,True,False,False,False,False,False,True,False,...,False,False,False,False,False,False,False,False,False,False
299,False,False,True,False,False,False,False,False,True,False,...,False,False,False,False,False,False,False,False,False,True
300,False,False,True,False,False,False,False,False,True,False,...,False,False,False,False,False,False,False,False,False,False

In [66]:
df2.isnull().sum().sum()

352

In [67]:
df2.dtypes

Observation         object
Y-Kappa            float64
ChipRate           float64
BF-CMratio         float64
BlowFlow           float64
ChipLevel4         float64
T-upperExt-2       float64
T-lowerExt-2       float64
UCZAA              float64
WhiteFlow-4        float64
AAWhiteSt-4        float64
AA-Wood-4          float64
ChipMoisture-4     float64
SteamFlow-4        float64
Lower-HeatT-3      float64
Upper-HeatT-3      float64
ChipMass-4         float64
WeakLiquorF        float64
BlackFlow-2        float64
WeakWashF          float64
SteamHeatF-3       float64
T-Top-Chips-4      float64
SulphidityL-4      float64
dtype: object

In [68]:
df2 = df2.select_dtypes(exclude=['object'])
df2
#removing columns with object dtype

,Y-Kappa,ChipRate,BF-CMratio,BlowFlow,ChipLevel4,T-upperExt-2,T-lowerExt-2,UCZAA,WhiteFlow-4,AAWhiteSt-4,...,SteamFlow-4,Lower-HeatT-3,Upper-HeatT-3,ChipMass-4,WeakLiquorF,BlackFlow-2,WeakWashF,SteamHeatF-3,T-Top-Chips-4,SulphidityL-4
0,23.10,16.520,121.717,1177.607,169.805,358.282,329.545,1.443,599.253,NaN,...,67.122,329.432,303.099,175.964,1127.197,1319.039,257.325,54.612,252.077,NaN
1,27.60,16.810,79.022,1328.360,341.327,351.050,329.067,1.549,537.201,6.076,...,60.012,330.823,304.879,163.202,665.975,1297.317,241.182,46.603,251.406,29.11
2,23.19,16.709,79.562,1329.407,239.161,350.022,329.260,1.600,549.611,NaN,...,61.304,329.140,303.383,164.013,677.534,1327.072,237.272,51.795,251.335,NaN
3,23.60,16.478,81.011,1334.877,213.527,350.938,331.142,1.604,623.362,6.054,...,68.496,328.875,302.254,181.487,767.853,1324.461,239.478,54.846,250.312,29.02
4,22.90,15.618,93.244,1334.168,243.131,351.640,332.709,NaN,638.672,6.110,...,70.022,328.352,300.954,183.929,888.448,1343.424,215.372,54.186,249.916,29.01
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
296,20.40,14.233,89.790,1278.006,379.458,354.290,315.558,1.515,491.374,NaN,...,60.424,331.980,308.078,140.301,975.016,1344.835,388.676,47.803,252.311,NaN
297,20.90,15.167,84.640,1283.706,339.440,354.803,311.041,1.635,532.419,6.340,...,65.561,332.924,307.626,145.299,832.906,1344.708,388.911,49.524,251.833,30.29
298,24.98,NaN,85.034,1278.345,368.564,357.723,321.387,NaN,520.365,6.220,...,65.729,332.523,307.169,151.544,905.639,1344.469,418.979,48.135,251.614,30.47
299,21.00,NaN,88.013,1307.722,278.842,357.438,323.757,NaN,553.070,NaN,...,65.795,331.263,306.400,157.954,908.691,1344.588,462.712,54.373,251.197,NaN
300,21.40,NaN,85.490,1255.986,273.484,361.365,322.689,NaN,590.199,6.230,...,71.456,333.032,308.732,174.069,986.206,1348.747,457.313,53.194,251.324,30.46

In [69]:
before_imputation=pd.DataFrame(df2)
before_imputation

,Y-Kappa,ChipRate,BF-CMratio,BlowFlow,ChipLevel4,T-upperExt-2,T-lowerExt-2,UCZAA,WhiteFlow-4,AAWhiteSt-4,...,SteamFlow-4,Lower-HeatT-3,Upper-HeatT-3,ChipMass-4,WeakLiquorF,BlackFlow-2,WeakWashF,SteamHeatF-3,T-Top-Chips-4,SulphidityL-4
0,23.10,16.520,121.717,1177.607,169.805,358.282,329.545,1.443,599.253,NaN,...,67.122,329.432,303.099,175.964,1127.197,1319.039,257.325,54.612,252.077,NaN
1,27.60,16.810,79.022,1328.360,341.327,351.050,329.067,1.549,537.201,6.076,...,60.012,330.823,304.879,163.202,665.975,1297.317,241.182,46.603,251.406,29.11
2,23.19,16.709,79.562,1329.407,239.161,350.022,329.260,1.600,549.611,NaN,...,61.304,329.140,303.383,164.013,677.534,1327.072,237.272,51.795,251.335,NaN
3,23.60,16.478,81.011,1334.877,213.527,350.938,331.142,1.604,623.362,6.054,...,68.496,328.875,302.254,181.487,767.853,1324.461,239.478,54.846,250.312,29.02
4,22.90,15.618,93.244,1334.168,243.131,351.640,332.709,NaN,638.672,6.110,...,70.022,328.352,300.954,183.929,888.448,1343.424,215.372,54.186,249.916,29.01
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
296,20.40,14.233,89.790,1278.006,379.458,354.290,315.558,1.515,491.374,NaN,...,60.424,331.980,308.078,140.301,975.016,1344.835,388.676,47.803,252.311,NaN
297,20.90,15.167,84.640,1283.706,339.440,354.803,311.041,1.635,532.419,6.340,...,65.561,332.924,307.626,145.299,832.906,1344.708,388.911,49.524,251.833,30.29
298,24.98,NaN,85.034,1278.345,368.564,357.723,321.387,NaN,520.365,6.220,...,65.729,332.523,307.169,151.544,905.639,1344.469,418.979,48.135,251.614,30.47
299,21.00,NaN,88.013,1307.722,278.842,357.438,323.757,NaN,553.070,NaN,...,65.795,331.263,306.400,157.954,908.691,1344.588,462.712,54.373,251.197,NaN
300,21.40,NaN,85.490,1255.986,273.484,361.365,322.689,NaN,590.199,6.230,...,71.456,333.032,308.732,174.069,986.206,1348.747,457.313,53.194,251.324,30.46

In [70]:
imputer=KNNImputer(n_neighbors=2)
After_imputation=imputer.fit_transform(before_imputation)
After_imputation

array([[ 23.1   ,  16.52  , 121.717 , ...,  54.612 , 252.077 ,  31.305 ],
       [ 27.6   ,  16.81  ,  79.022 , ...,  46.603 , 251.406 ,  29.11  ],
       [ 23.19  ,  16.709 ,  79.562 , ...,  51.795 , 251.335 ,  29.065 ],
       ...,
       [ 24.98  ,  14.4295,  85.034 , ...,  48.135 , 251.614 ,  30.47  ],
       [ 21.    ,  15.5795,  88.013 , ...,  54.373 , 251.197 ,  30.025 ],
       [ 21.4   ,  14.8875,  85.49  , ...,  53.194 , 251.324 ,  30.46  ]])

In [71]:
df2=pd.DataFrame(After_imputation)
df2
#KNNImputer removes the column names

,0,1,2,3,4,5,6,7,8,9,...,12,13,14,15,16,17,18,19,20,21
0,23.10,16.5200,121.717,1177.607,169.805,358.282,329.545,1.4430,599.253,6.1195,...,67.122,329.432,303.099,175.964,1127.197,1319.039,257.325,54.612,252.077,31.305
1,27.60,16.8100,79.022,1328.360,341.327,351.050,329.067,1.5490,537.201,6.0760,...,60.012,330.823,304.879,163.202,665.975,1297.317,241.182,46.603,251.406,29.110
2,23.19,16.7090,79.562,1329.407,239.161,350.022,329.260,1.6000,549.611,6.0650,...,61.304,329.140,303.383,164.013,677.534,1327.072,237.272,51.795,251.335,29.065
3,23.60,16.4780,81.011,1334.877,213.527,350.938,331.142,1.6040,623.362,6.0540,...,68.496,328.875,302.254,181.487,767.853,1324.461,239.478,54.846,250.312,29.020
4,22.90,15.6180,93.244,1334.168,243.131,351.640,332.709,1.4950,638.672,6.1100,...,70.022,328.352,300.954,183.929,888.448,1343.424,215.372,54.186,249.916,29.010
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
296,20.40,14.2330,89.790,1278.006,379.458,354.290,315.558,1.5150,491.374,6.2800,...,60.424,331.980,308.078,140.301,975.016,1344.835,388.676,47.803,252.311,30.450
297,20.90,15.1670,84.640,1283.706,339.440,354.803,311.041,1.6350,532.419,6.3400,...,65.561,332.924,307.626,145.299,832.906,1344.708,388.911,49.524,251.833,30.290
298,24.98,14.4295,85.034,1278.345,368.564,357.723,321.387,1.5680,520.365,6.2200,...,65.729,332.523,307.169,151.544,905.639,1344.469,418.979,48.135,251.614,30.470
299,21.00,15.5795,88.013,1307.722,278.842,357.438,323.757,1.6085,553.070,6.2000,...,65.795,331.263,306.400,157.954,908.691,1344.588,462.712,54.373,251.197,30.025
300,21.40,14.8875,85.490,1255.986,273.484,361.365,322.689,1.5815,590.199,6.2300,...,71.456,333.032,308.732,174.069,986.206,1348.747,457.313,53.194,251.324,30.460

In [72]:
before_imputation.columns

Index(['Y-Kappa', 'ChipRate', 'BF-CMratio', 'BlowFlow', 'ChipLevel4 ',
       'T-upperExt-2 ', 'T-lowerExt-2  ', 'UCZAA', 'WhiteFlow-4 ',
       'AAWhiteSt-4 ', 'AA-Wood-4  ', 'ChipMoisture-4 ', 'SteamFlow-4 ',
       'Lower-HeatT-3', 'Upper-HeatT-3 ', 'ChipMass-4 ', 'WeakLiquorF ',
       'BlackFlow-2 ', 'WeakWashF ', 'SteamHeatF-3 ', 'T-Top-Chips-4 ',
       'SulphidityL-4 '],
      dtype='object')

In [73]:
After_imputation=pd.DataFrame(After_imputation,columns=before_imputation.columns)
After_imputation
#adding columns in final dataframe

,Y-Kappa,ChipRate,BF-CMratio,BlowFlow,ChipLevel4,T-upperExt-2,T-lowerExt-2,UCZAA,WhiteFlow-4,AAWhiteSt-4,...,SteamFlow-4,Lower-HeatT-3,Upper-HeatT-3,ChipMass-4,WeakLiquorF,BlackFlow-2,WeakWashF,SteamHeatF-3,T-Top-Chips-4,SulphidityL-4
0,23.10,16.5200,121.717,1177.607,169.805,358.282,329.545,1.4430,599.253,6.1195,...,67.122,329.432,303.099,175.964,1127.197,1319.039,257.325,54.612,252.077,31.305
1,27.60,16.8100,79.022,1328.360,341.327,351.050,329.067,1.5490,537.201,6.0760,...,60.012,330.823,304.879,163.202,665.975,1297.317,241.182,46.603,251.406,29.110
2,23.19,16.7090,79.562,1329.407,239.161,350.022,329.260,1.6000,549.611,6.0650,...,61.304,329.140,303.383,164.013,677.534,1327.072,237.272,51.795,251.335,29.065
3,23.60,16.4780,81.011,1334.877,213.527,350.938,331.142,1.6040,623.362,6.0540,...,68.496,328.875,302.254,181.487,767.853,1324.461,239.478,54.846,250.312,29.020
4,22.90,15.6180,93.244,1334.168,243.131,351.640,332.709,1.4950,638.672,6.1100,...,70.022,328.352,300.954,183.929,888.448,1343.424,215.372,54.186,249.916,29.010
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
296,20.40,14.2330,89.790,1278.006,379.458,354.290,315.558,1.5150,491.374,6.2800,...,60.424,331.980,308.078,140.301,975.016,1344.835,388.676,47.803,252.311,30.450
297,20.90,15.1670,84.640,1283.706,339.440,354.803,311.041,1.6350,532.419,6.3400,...,65.561,332.924,307.626,145.299,832.906,1344.708,388.911,49.524,251.833,30.290
298,24.98,14.4295,85.034,1278.345,368.564,357.723,321.387,1.5680,520.365,6.2200,...,65.729,332.523,307.169,151.544,905.639,1344.469,418.979,48.135,251.614,30.470
299,21.00,15.5795,88.013,1307.722,278.842,357.438,323.757,1.6085,553.070,6.2000,...,65.795,331.263,306.400,157.954,908.691,1344.588,462.712,54.373,251.197,30.025
300,21.40,14.8875,85.490,1255.986,273.484,361.365,322.689,1.5815,590.199,6.2300,...,71.456,333.032,308.732,174.069,986.206,1348.747,457.313,53.194,251.324,30.460

In [184]:
df3=pd.read_csv("travel-times.csv")
df3

,Date,StartTime,DayOfWeek,GoingTo,Distance,MaxSpeed,AvgSpeed,AvgMovingSpeed,FuelEconomy,TotalTime,MovingTime,Take407All,Comments
0,1/6/2012,16:37,Friday,Home,51.29,127.4,78.3,84.8,NaN,39.3,36.3,No,NaN
1,1/6/2012,08:20,Friday,GSK,51.63,130.3,81.8,88.9,NaN,37.9,34.9,No,NaN
2,1/4/2012,16:17,Wednesday,Home,51.27,127.4,82.0,85.8,NaN,37.5,35.9,No,NaN
3,1/4/2012,07:53,Wednesday,GSK,49.17,132.3,74.2,82.9,NaN,39.8,35.6,No,NaN
4,1/3/2012,18:57,Tuesday,Home,51.15,136.2,83.4,88.1,NaN,36.8,34.8,No,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...
200,7/18/2011,08:09,Monday,GSK,54.52,125.6,49.9,82.4,7.89,65.5,39.7,No,NaN
201,7/14/2011,08:03,Thursday,GSK,50.90,123.7,76.2,95.1,7.89,40.1,32.1,Yes,NaN
202,7/13/2011,17:08,Wednesday,Home,51.96,132.6,57.5,76.7,NaN,54.2,40.6,Yes,NaN
203,7/12/2011,17:51,Tuesday,Home,53.28,125.8,61.6,87.6,NaN,51.9,36.5,Yes,NaN
204,7/11/2011,16:56,Monday,Home,51.73,125.0,62.8,92.5,NaN,49.5,33.6,Yes,NaN

In [185]:
df3.isnull()

,Date,StartTime,DayOfWeek,GoingTo,Distance,MaxSpeed,AvgSpeed,AvgMovingSpeed,FuelEconomy,TotalTime,MovingTime,Take407All,Comments
0,False,False,False,False,False,False,False,False,True,False,False,False,True
1,False,False,False,False,False,False,False,False,True,False,False,False,True
2,False,False,False,False,False,False,False,False,True,False,False,False,True
3,False,False,False,False,False,False,False,False,True,False,False,False,True
4,False,False,False,False,False,False,False,False,True,False,False,False,True
...,...,...,...,...,...,...,...,...,...,...,...,...,...
200,False,False,False,False,False,False,False,False,False,False,False,False,True
201,False,False,False,False,False,False,False,False,False,False,False,False,True
202,False,False,False,False,False,False,False,False,True,False,False,False,True
203,False,False,False,False,False,False,False,False,True,False,False,False,True
204,False,False,False,False,False,False,False,False,True,False,False,False,True

In [186]:
df3.isnull().sum().sum()

198

In [187]:
df3.dtypes

Date               object
StartTime          object
DayOfWeek          object
GoingTo            object
Distance          float64
MaxSpeed          float64
AvgSpeed          float64
AvgMovingSpeed    float64
FuelEconomy        object
TotalTime         float64
MovingTime        float64
Take407All         object
Comments           object
dtype: object

In [188]:
df3.replace('-',np.nan, regex=True, inplace=True)
df3

,Date,StartTime,DayOfWeek,GoingTo,Distance,MaxSpeed,AvgSpeed,AvgMovingSpeed,FuelEconomy,TotalTime,MovingTime,Take407All,Comments
0,1/6/2012,16:37,Friday,Home,51.29,127.4,78.3,84.8,NaN,39.3,36.3,No,NaN
1,1/6/2012,08:20,Friday,GSK,51.63,130.3,81.8,88.9,NaN,37.9,34.9,No,NaN
2,1/4/2012,16:17,Wednesday,Home,51.27,127.4,82.0,85.8,NaN,37.5,35.9,No,NaN
3,1/4/2012,07:53,Wednesday,GSK,49.17,132.3,74.2,82.9,NaN,39.8,35.6,No,NaN
4,1/3/2012,18:57,Tuesday,Home,51.15,136.2,83.4,88.1,NaN,36.8,34.8,No,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...
200,7/18/2011,08:09,Monday,GSK,54.52,125.6,49.9,82.4,7.89,65.5,39.7,No,NaN
201,7/14/2011,08:03,Thursday,GSK,50.90,123.7,76.2,95.1,7.89,40.1,32.1,Yes,NaN
202,7/13/2011,17:08,Wednesday,Home,51.96,132.6,57.5,76.7,NaN,54.2,40.6,Yes,NaN
203,7/12/2011,17:51,Tuesday,Home,53.28,125.8,61.6,87.6,NaN,51.9,36.5,Yes,NaN
204,7/11/2011,16:56,Monday,Home,51.73,125.0,62.8,92.5,NaN,49.5,33.6,Yes,NaN

In [189]:
df4 = df3.select_dtypes(exclude=['object'])
df4

     Distance  MaxSpeed  AvgSpeed  AvgMovingSpeed  TotalTime  MovingTime
0       51.29     127.4      78.3            84.8       39.3        36.3
1       51.63     130.3      81.8            88.9       37.9        34.9
2       51.27     127.4      82.0            85.8       37.5        35.9
3       49.17     132.3      74.2            82.9       39.8        35.6
4       51.15     136.2      83.4            88.1       36.8        34.8
..        ...       ...       ...             ...        ...         ...
200     54.52     125.6      49.9            82.4       65.5        39.7
201     50.90     123.7      76.2            95.1       40.1        32.1
202     51.96     132.6      57.5            76.7       54.2        40.6
203     53.28     125.8      61.6            87.6       51.9        36.5
204     51.73     125.0      62.8            92.5       49.5        33.6

[205 rows x 6 columns]

In [190]:
df5 = df3.select_dtypes(include=['object'])
df5
#data frame of object type columns

          Date StartTime  DayOfWeek GoingTo FuelEconomy Take407All Comments
0     1/6/2012     16:37     Friday    Home         NaN         No      NaN
1     1/6/2012     08:20     Friday     GSK         NaN         No      NaN
2     1/4/2012     16:17  Wednesday    Home         NaN         No      NaN
3     1/4/2012     07:53  Wednesday     GSK         NaN         No      NaN
4     1/3/2012     18:57    Tuesday    Home         NaN         No      NaN
..         ...       ...        ...     ...         ...        ...      ...
200  7/18/2011     08:09     Monday     GSK        7.89         No      NaN
201  7/14/2011     08:03   Thursday     GSK        7.89        Yes      NaN
202  7/13/2011     17:08  Wednesday    Home         NaN        Yes      NaN
203  7/12/2011     17:51    Tuesday    Home         NaN        Yes      NaN
204  7/11/2011     16:56     Monday    Home         NaN        Yes      NaN

[205 rows x 7 columns]

In [191]:
df4=df4.astype(float)

In [192]:
df4.dtypes

Distance          float64
MaxSpeed          float64
AvgSpeed          float64
AvgMovingSpeed    float64
TotalTime         float64
MovingTime        float64
dtype: object

In [193]:
before_imputation1=pd.DataFrame(df4)
before_imputation1

     Distance  MaxSpeed  AvgSpeed  AvgMovingSpeed  TotalTime  MovingTime
0       51.29     127.4      78.3            84.8       39.3        36.3
1       51.63     130.3      81.8            88.9       37.9        34.9
2       51.27     127.4      82.0            85.8       37.5        35.9
3       49.17     132.3      74.2            82.9       39.8        35.6
4       51.15     136.2      83.4            88.1       36.8        34.8
..        ...       ...       ...             ...        ...         ...
200     54.52     125.6      49.9            82.4       65.5        39.7
201     50.90     123.7      76.2            95.1       40.1        32.1
202     51.96     132.6      57.5            76.7       54.2        40.6
203     53.28     125.8      61.6            87.6       51.9        36.5
204     51.73     125.0      62.8            92.5       49.5        33.6

[205 rows x 6 columns]

In [194]:
imputer1=KNNImputer(n_neighbors=2)
After_imputation1=imputer1.fit_transform(before_imputation1)
After_imputation1

array([[ 51.29, 127.4 ,  78.3 ,  84.8 ,  39.3 ,  36.3 ],
       [ 51.63, 130.3 ,  81.8 ,  88.9 ,  37.9 ,  34.9 ],
       [ 51.27, 127.4 ,  82.  ,  85.8 ,  37.5 ,  35.9 ],
       ...,
       [ 51.96, 132.6 ,  57.5 ,  76.7 ,  54.2 ,  40.6 ],
       [ 53.28, 125.8 ,  61.6 ,  87.6 ,  51.9 ,  36.5 ],
       [ 51.73, 125.  ,  62.8 ,  92.5 ,  49.5 ,  33.6 ]])

In [195]:
df4=pd.DataFrame(After_imputation1)
df4

         0      1     2     3     4     5
0    51.29  127.4  78.3  84.8  39.3  36.3
1    51.63  130.3  81.8  88.9  37.9  34.9
2    51.27  127.4  82.0  85.8  37.5  35.9
3    49.17  132.3  74.2  82.9  39.8  35.6
4    51.15  136.2  83.4  88.1  36.8  34.8
..     ...    ...   ...   ...   ...   ...
200  54.52  125.6  49.9  82.4  65.5  39.7
201  50.90  123.7  76.2  95.1  40.1  32.1
202  51.96  132.6  57.5  76.7  54.2  40.6
203  53.28  125.8  61.6  87.6  51.9  36.5
204  51.73  125.0  62.8  92.5  49.5  33.6

[205 rows x 6 columns]

In [196]:
before_imputation1.columns

Index(['Distance', 'MaxSpeed', 'AvgSpeed', 'AvgMovingSpeed', 'TotalTime',
       'MovingTime'],
      dtype='object')

In [197]:
After_imputation1=pd.DataFrame(After_imputation1,columns=before_imputation1.columns)
After_imputation1

     Distance  MaxSpeed  AvgSpeed  AvgMovingSpeed  TotalTime  MovingTime
0       51.29     127.4      78.3            84.8       39.3        36.3
1       51.63     130.3      81.8            88.9       37.9        34.9
2       51.27     127.4      82.0            85.8       37.5        35.9
3       49.17     132.3      74.2            82.9       39.8        35.6
4       51.15     136.2      83.4            88.1       36.8        34.8
..        ...       ...       ...             ...        ...         ...
200     54.52     125.6      49.9            82.4       65.5        39.7
201     50.90     123.7      76.2            95.1       40.1        32.1
202     51.96     132.6      57.5            76.7       54.2        40.6
203     53.28     125.8      61.6            87.6       51.9        36.5
204     51.73     125.0      62.8            92.5       49.5        33.6

[205 rows x 6 columns]

In [202]:
frames=[df4,df5]

In [206]:
df6=pd.concat(frames)
df6

,0,1,2,3,4,5,Comments,Date,DayOfWeek,FuelEconomy,GoingTo,StartTime,Take407All
0,51.29,127.4,78.3,84.8,39.3,36.3,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,51.63,130.3,81.8,88.9,37.9,34.9,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,51.27,127.4,82.0,85.8,37.5,35.9,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,49.17,132.3,74.2,82.9,39.8,35.6,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,51.15,136.2,83.4,88.1,36.8,34.8,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...
200,NaN,NaN,NaN,NaN,NaN,NaN,NaN,7/18/2011,Monday,7.89,GSK,08:09,No
201,NaN,NaN,NaN,NaN,NaN,NaN,NaN,7/14/2011,Thursday,7.89,GSK,08:03,Yes
202,NaN,NaN,NaN,NaN,NaN,NaN,NaN,7/13/2011,Wednesday,NaN,Home,17:08,Yes
203,NaN,NaN,NaN,NaN,NaN,NaN,NaN,7/12/2011,Tuesday,NaN,Home,17:51,Yes
204,NaN,NaN,NaN,NaN,NaN,NaN,NaN,7/11/2011,Monday,NaN,Home,16:56,Yes